<nav class="navbar navbar-expand-lg navbar-dark a-black-bg">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" href="/index.html">Home</a>
      </li>     
      <li class="nav-item {{ include.travel1 }}">
        <a class="nav-link" href="/travel/index.html">Travel {{ include.travel2 }}</a>
      </li>    
      <li class="nav-item {{ include.philosophy1 }}">
        <a class="nav-link" href="/philosophy/index.html">Philosophy {{ include.philosophy2 }}</a>
      </li>
    </ul>
  </div>
</nav>